<%- include('header') %>

<link rel="stylesheet" href="/css/dashboard.css">

<div class="grid-container">
</div>
<main class="main">
  <div class="main-header">
    <div class="main-header__heading">Hello</div>
    <div class="main-header__updates">Recent Items</div>
  </div>

  <div class="main-overview">
    <div class="overviewcard">
      <a href = "./current-applications">Current Applications</a>
      <a href = "./current-applications">&#10095;</a>
    </div>
    <div class="overviewcard">
        <a href = "./planning-granted">Sites with Planing Permission <br>- Permission Granted</a>
        <a href = "./planning-granted">&#10095;</a>
      </div>
    <div class="overviewcard">
        <a href = "./planning-minded">Sites with Planing Permission <br>- Minded to Grant</a>
        <a href = "./planning-minded">&#10095;</a>
    </div>
    <div class="overviewcard">
        <a href = "./retained-interest">Retained Interest</a>
        <a href = "./retained-interest">&#10095;</a>
    </div>
    <div class="overviewcard">
      <a href = "./health-safety-30days">Health & Safety Visits <br> Required in the Next 30 Days</a>
      <a href = "./health-safety-30days">&#10095;</a>
    </div>
  </div>

  <div class="main-cards">
    <div class="card">New Sites - Board Approved</div>
    <div class="card">Option Expiry within Next 12 Months</div>
    <div class="card">Agency Expiry within Next 12 Months</div>


  </div>
</main>
</div>


<%- include('footer') %>
